* {
  box-sizing: border-box;
}

input[type="submit"] {
  border: none;
  cursor: pointer;
}

input {
  padding: 5px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* ヘッダー */
.header {
  display: flex;
  justify-content: space-between;
  background: black;
  height: 55px;
}

.header-logo__link {
  color: white;
  font-size: 40px;
  padding: 15px 20px;
  font-weight: bolder;
}

.navbar-list {
  display: inline-block;
}

.navbar-list__link {
  color: white;
  margin-right: 20px;
}