* {
  box-sizing: border-box;
}

input[type="submit"] {
  border: none;
  cursor: pointer;
}

input {
  padding: 5px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* ヘッダー */
.header {
  background: black;
  height: 55px;
}

.header-logo__link {
  color: white;
  font-size: 40px;
  padding: 15px 20px;
  font-weight: bolder;
}